.link {
  background: linear-gradient(to right, white, white);
  background-size: 0% 2px;
  background-position: right 1.1em;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-out;

  &:hover {
    background-size: 100% 2px;
    background-position: left 1.1em;
  }
}
